{% extends 'base.html.twig' %}

{% block title %}Mot de passe | QuickEat{% endblock %}

{% block body %}
    <div class="container mt-3 mb-3">
        {% if not app.user %}
            <div class="d-flex justify-content-center shadow p-3 my-5 bg-warning rounded">
                <h1>Mot de passe oublié ?</h1>
            </div>
        {% endif %}
        {% if app.user %}
            <div class="d-flex justify-content-center shadow p-3 my-5 bg-warning rounded">
                <h1>Modifications du mot de passe</h1>
            </div>
        {% endif %}
            {{ form(emailForm) }}
    </div>
{% endblock %}
