{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe | QuickEat{% endblock %}

{% block body %}
    <div class="container mt-3 mb-3">
        <hr>
        <div class="d-flex justify-content-center shadow p-3 my-5 bg-warning rounded">
            <h1>Nouveau mot de passe</h1>
        </div>
        <form method="post">
            <div class="form-group">
                <label for="pass">Mot de passe</label>
                <input type="password" name="password" id="pass">
                <input type="hidden" name="token" value="{{ token }}">
            </div>
            <button type="submit" class="btn btn-primary">Valider</button>
        </form>
    </div>
{% endblock %}
