{% extends 'base.html.twig' %}

{% block title %}Modifier restaurant | QuickEat{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="d-flex justify-content-center shadow p-3 mb-5 bg-warning rounded">
        <h1>Modifier restaurant</h1>
    </div>

    {{ include('restaurant/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    {{ include('restaurant/_delete_form.html.twig') }}
</div>
{% endblock %}
