{% extends 'base.html.twig' %}

{% block title %}Nouveau utilisateur | QuickEat{% endblock %}

{% block body %}
<div class="container">
    {{ include('user/_form.html.twig') }}
</div>
{% endblock %}
