<h1>Activation du compte</h1>
<p>Vous avez créer un compte sur QuickEat, veuillez cliquer sur le lien pour l'activer</p>
<p><a href="{{ absolute_url(path('activation', {'token':token})) }}">Activer mon compte</a></p>
